* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Lora, sans-serif;
    background-color: #F4F4F4;
}

nav {
    display: flex;
    align-items: center;
    background-color: #932432;
    color: #F3F3F3;
    height: 90px;
    padding: 30px 25px;
}

img {
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-right: 200px;
}

h2 {
    margin-right: auto;
    font-weight: 600;
    
}
  
h2:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: 25%;
  }
  
h2:hover::after {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }